{% extends 'base.html' %}
{% load static %}


{% block content %}

<!--<div class="container" xmlns="http://www.w3.org/1999/html">-->
<!--      <header class="text-center text-light my-4">-->
<!--        <h1 class="mb-4">Todo List</h1>-->
<!--        <form class="search">-->
<!--          <input-->
<!--            class="form-control m-auto"-->
<!--            type="text"-->
<!--            name="search"-->
<!--            placeholder="search todos"-->
<!--          />-->
<!--        </form>-->
<!--      </header>-->

<!--  {% for plane in planes %}-->
<!--      <ul class="list-group todos mx-auto text-light delete">-->
<!--        <li class="list-group-item d-flex justify-content-between align-items-center">-->
<!--          <span>{{ plane.name }}</span>-->
<!--          <i class="far fa-trash-alt delete"></i>-->
<!--        </li>-->


<!--      </ul>-->
<!--{% endfor %}-->

<!--      <form action="{% url 'todo:add' %}" method="post"  class="add text-center my-4" >-->
<!--          {% csrf_token %}-->

<!--&lt;!&ndash;          {{ form.as_p }}&ndash;&gt;-->
<!--        <label class="text-light">Add a new todo...</label>-->
<!--        <input placeholder="name" class="form-control m-auto" type="text" name="name"/>-->
<!--        <input placeholder="content" class="form-control m-auto" type="text" name="content"/>-->

<!--        <br />-->

<!--          <button type="submit" class="btn btn-light"> submit </button>-->

<!--        <div class="text-center">-->

<!--        </div>-->
<!--      </form>-->
<!--    </div>-->


{% endblock %}